SERVICE_NAME=seller-service
HTTP_PORT=3000
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=seller-service
KAFKA_CONSUMER_GROUP_ID=seller-service-demo-group
DEMO_TOPIC=seller.demo.event.v1
DATABASE_URL=postgresql://seller:seller@seller-postgres:5432/seller
JWT_ACCESS_SECRET=dev-auth-access-secret
